#root {
  /* max-width: 1280px; */
  max-width: 1000vh;
  /* margin-left: 24px; */
  padding: 0%;
}

body {
  line-height: 1.5;
  color: #FAFAFA;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Header {
  width: 100%;
}

.content {
  margin-top: 12px;
  width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 26px;
}

